// adjustment styles
body,
html {
	width: 100%;
	height: 100%;
}
body {
	@include Roboto(regular);
	font-size: 16px;
	color: $black;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
    overflow-x: hidden;
	height: 100%;
}
.wrapper {
	min-width: 320px;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
header {
	width: 100%;
	flex: 0 0 auto;
}
.main {
	transition: 1s;
	flex: 1 0 auto;
}
footer {
	width: 100%;
	flex: 0 0 auto;
}
.container {
	max-width: $container-width;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
	box-sizing: border-box;
}
li {
	list-style: none;
}
ul {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
footer {
	width: 100%; 
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}


/* Типовая страница */


h1 {
	@include Roboto(bold);
	font-size: 30px;
	line-height: 1.167;
	letter-spacing: -0.03em;
	color: $black;
}
h2 {
	@include Roboto(bold);
	font-size: 26px;
	line-height: 1.154;
	color: $black;
	letter-spacing: -0.03em;
}
h3 {
	@include Roboto(bold);
	font-size: 20px;
	line-height: 1.15;
	color: $black;
	letter-spacing: -0.03em;
}
h4 {
	@include Roboto(bold);
	font-size: 16px;
	line-height: 1.187;
	color: $black;
	letter-spacing: -0.03em;
}
p {
	@include Roboto();
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: -0.03em;
	color: $black;
}

ul {
	padding-left: 30px;

	li {
		list-style: url('../img/type_check.svg');
		@include Roboto();
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 2.3357;
		letter-spacing: -0.03em;
		color: $black;
	}
}
ol {
	counter-reset: num;

	li {
		font-size: 14px;
		letter-spacing: -0.03em;
		position: relative;
		@include Roboto();
		font-style: normal;
		font-weight: normal;
		line-height: 3.5;
		color: $black;

		&:before {
			content: counter(num) "";
			counter-increment: num;
			color: $white;
			@include Roboto(bold);
			font-size: 20px;
			letter-spacing: -0.03em;
			position: absolute;
			top: 10px;
			left: -40px;
			background: $blue-light;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			text-align: center;
			line-height: 1.5;
		}
	}
}

.table {
	width: 100%;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 30px;
}
table {
	width: 100%;
	min-width: 1000px;
	border-collapse: collapse;
	border: 1px solid #E3E3E3;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	letter-spacing: -0.03em;
	color: #333333;
}
th {
	background: #EEEEEE;
	padding: 20px 15px;
	border: 1px solid #E3E3E3;
}
td {
	border: 1px solid #E3E3E3;
	padding:  10px 15px;
}
tr td:first-child {
	text-align: left;
}
tbody tr:nth-child(even) {
	background: #d6e8ff;
}

/* Типовая страница end */

.button-white {
	background: $white;
	border: 1px solid #65B2E8;
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: $black;
	padding: 10px;
	@include Roboto();
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.1;
	letter-spacing: -0.03em;

	&:hover {
		background: #65B2E8;
		color: $white;
	}
}
.button {
	background: $blue-light;
	border: 1px solid #78C4FA;
	box-sizing: border-box;
	box-shadow: 0 4px 10px rgba(0, 150, 255, 0.25);
	border-radius: 4px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: $white;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		background: #78C4FA;
		border: 1px solid $blue-light;
	}
}
input {
	max-width: 300px;
	width: 100%;
	height: 58px;
	background: $white;
	border: 1px solid #DCDCDC;
	box-sizing: border-box;
	border-radius: 4px;
	margin-bottom: 10px !important;
	padding: 0 20px;
}
input[type="submit"] {
	background: $blue-light;
	border: 1px solid #78C4FA;
	box-sizing: border-box;
	box-shadow: 0 4px 10px rgba(0, 150, 255, 0.2);
	border-radius: 4px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: $white;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:hover {
		background: #78C4FA;
		border: 1px solid $blue-light;
	}
}
.politic {
	background-image: url('../img/check.svg');
	background-repeat: no-repeat;
	background-position: left center;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: -0.03em;
	color: #8E8E8E;
	padding-left: 21px;
	min-height: 16px;
	margin-top: 9px;

	a {
		color: inherit;
		text-decoration: underline;
	}
}
.slick-slide {
	border: none;
	outline: none;
}
.slick-prev:before {
	content: url('../img/arrow_prew.svg');
}
.slick-next:before {
	content: url('../img/arrow_next.svg');
}
.slick-arrow {
	background: $blue-light;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	z-index: 1000;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
	color: transparent;
	outline: none;
	background: $blue-light;
	opacity: 0.85;
}
.page_title {
	background-image: url('../img/bg-cat.png');
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 230px;
	box-sizing: border-box;
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
h1.page {
	@include Roboto(bold);
	font-style: normal;
	font-size: 54px;
	line-height: 1.167;
	letter-spacing: -0.03em;
	color: $white;
	text-align: center;
}
.page_desc {
	@include Roboto(medium);
	font-style: normal;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: -0.03em;
	color: $white;
	text-align: center;
	margin-top: 9px;
}
/* Блок с формой на страницах */

.action {
	border: 5px solid $blue;
	border-radius: 6px;
	padding: 32px 44px 41px;
	box-sizing: border-box;
	background: url('../img/bg-form-cat.png');
	background-repeat: no-repeat;
	background-position: right center;
	position: relative;
}
.action_title {
	max-width: 503px;
	@include Roboto(bold);
	font-style: normal;
	font-size: 28px;
	line-height: 1.178;
	letter-spacing: -0.03em;
}
.action_subtitle {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.143;
	letter-spacing: -0.03em;
	margin-top: 9px;
	margin-bottom: 19px;
}
.action_form {
	max-width: 300px;

	.politic {
		margin-top: 5px;
	}
	input[type="submit"] {
		margin-top: 24px;
		margin-bottom: 0 !important;
	}
}
.action_bg-man {
	position: absolute;
	bottom: 0;
	left: 47%;
	width: 278px;
	height: 404px;
}

/* Блок с формой */

.manager {
	margin-top: 146px;
	position: relative;
}
.manager_title {
	max-width: 520px;
	@include Roboto(bold);
	font-style: normal;
	font-size: 54px;
	line-height: 1.167;
	letter-spacing: -0.03em;
}
.manager_form {
	max-width: 300px;
	width: 100%;
	margin-top: 33px;

	form {
		position: relative;
	}

	input[type="submit"] {
		margin-top: 51px;
		margin-bottom: 0 !important;
	}
	.politic {
		position: absolute;
	}
}
.manager_img {
	position: absolute;
	bottom: -158px;
	left: 50%;
	transform: translateX(-45%);
}
.manager_dialog {
	max-width: 370px;
	width: 100%;
	background: $white;
	font-style: italic;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.4;
	letter-spacing: -0.03em;
	padding: 19px 17px 25px 40px;
	box-sizing: border-box;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	position: absolute;
	top: 15px;
	right: 10px;
}
.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 16px 25px 20px 30px;
	border-color: $white transparent transparent $white;
	filter: drop-shadow(0 20px 20px rgba(0, 0, 0, 0.1));
	position: absolute;
	bottom: -36px;
}

@media (max-width: 1220px) {
	.slick-next {
		right: 0;
	}
	.slick-prev {
		left: 0;
	}
}
@media (max-width: 992px) {
	.action_bg-man {
		display: none;
	}
}
@media (max-width: 768px) {
	h1.page {
		font-size: 45px;
	}
	.page_desc {
		font-size: 18px;
	}
	.action_form {
		margin: 0 auto;
	}
	.action_title {
		max-width: 100%;
		text-align: center;
	}
	.action_subtitle {
		text-align: center;
	}
	.action {
		background: #C9E8F9;
	}
}
@media (max-width: 480px) {
	h1.page {
		font-size: 35px;
	}
	.action {
		padding: 20px 15px;
	}
	.action_title {
		font-size: 22px;
	}
}

/* ----- Блок политики ----- */

.modal-container-polit {
	font-family: 'Roboto Regular', Arial, sans-serif;
	max-width: 95%;
	max-height: 95%;
	width: 1000px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 36px 34px;
	height: auto;
	position: relative;
}
.modal-block-polit {
	width: 100%;
	max-width: 100%;
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;
}
.title-modal-polit {
	@include Roboto(medium);
	font-size: 24px;
	line-height: 1.34;
	letter-spacing: -0.03em;
	position: relative;
	margin-bottom: 15px;
}
.modal-content-polit {
	line-height: 1.375;
	font-size: 16px;
}
.caption-modal-polit ul {
	list-style: none;
}
.caption-modal-polit li {
	background-size: auto;
	background-position: 0 4px;
	background-repeat: no-repeat;
	box-sizing: border-box;
	padding-left: 5px;
	font-size: 14px;
	line-height: 1.28;
	margin-top: 15px;
}
.modal-close-form {
	position: absolute;
	top: 15px;
	right: 12px;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	background-image: url(../img/close-modal.png);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: 0.2s;
	cursor: pointer;
	z-index: 100;
}
.modal-close-form:hover {
	transform: rotate(90deg);
}

/* ------ Модальные окна ------ */

.modal-container-form {
	max-width: 550px;
	width: 100%;
	padding: 0;
	border-radius: 6px;
}
.modal_form-title {
	@include Roboto(bold);
	font-size: 30px;
	line-height: 1.2;
	margin-bottom: 7px;
}
.modal_form-description {
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: -0.03em;
	margin-bottom: 25px;
}
.modal_form-wrap {
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 35px;
	box-sizing: border-box;
}
.modal_form {
	max-width: 100%;

	p {
		margin-top: 0;
		margin-bottom: 0;
	}
}
.modal_form input {
	max-width: 100%;
	width: 100%;
	border: 1px solid #A2A2A2;
	margin-bottom: 10px;
	color: $black;
}
.modal_form input[type="submit"] {
	background: $blue-light;
	border: 1px solid #78C4FA;
	box-shadow: 0 4px 10px rgba(0, 150, 255, 0.2);
	color: $white;

	&:hover {
		background: #78C4FA;
		border: 1px solid $blue-light;
	}
}
.modal_content-form {
	display: flex;
}
.modal_img {
	min-width: 180px;
	background-image: url("../img/bg_first.png");
	background-size: cover;
	background-position: center;
	position: relative;
}
.modal-close-form:hover {
	transform: rotate(90deg);
}

@media (max-width: 480px) {
	.modal-container-polit {
		padding: 15px;
	}
	.caption-modal-polit {
		font-size: 15px;
	}
	.title-modal-polit {
		font-size: 20px;
		margin-bottom: 0;
	}
	.modal_img {
		display: none;
	}
	.modal_form {
		margin: 0 auto;
		max-width: 100%;

		input {
			max-width: 100%;
		}
	}
	.modal-container-form {
		max-width: 370px;
	}
	.modal_form-wrap {
		padding: 20px;
	}
	.modal_form input[type="submit"] {
		margin-bottom: 20px;
	}
	.modal_form-description {
		margin-bottom: 20px;
	}
	.modal_form-title {
		font-size: 26px;
	}
}